# https://docs.astral.sh/uv/concepts/configuration-files/

{{- if .useChineseMirror }}
# Use Tsinghua PyPI mirror for faster downloads in China
# https://mirrors.tuna.tsinghua.edu.cn/help/pypi/
index-url = "https://pypi.tuna.tsinghua.edu.cn/simple"
{{- end }}
