---
# Linux playbook - Ubuntu/Debian setup
- name: Linux setup
  hosts: local
  gather_facts: true

  roles:
    - role: base
      tags: [base]

    - role: zsh
      tags: [zsh]

    - role: neovim
      tags: [neovim]

    - role: lazyvim_deps
      tags: [lazyvim_deps]

    - role: devtools
      tags: [devtools]

    - role: docker
      tags: [docker]

    - role: nerdfonts
      tags: [nerdfonts]

    - role: coding_agents
      tags: [coding_agents]

    - role: security_tools
      tags: [security_tools]

    - role: python_uv_tools
      tags: [python_uv_tools]

    - role: rust_cargo_tools
      tags: [rust_cargo_tools]

    - role: ruby_gem_tools
      tags: [ruby_gem_tools]
