# npm registry configuration
# Managed by chezmoi

{{- if .useChineseMirror }}
# Use npmmirror for faster package downloads behind GFW
registry=https://registry.npmmirror.com/
{{- else }}
# Use the official npm registry by default
registry=https://registry.npmjs.org/
{{- end }}
