[user]
	email = {{ .email }}
	name = {{ .name }}
[http]
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
    defaultBranch = main
[core]
    hooksPath = ~/.config/git/hooks
