version: 1

# Include user's custom notification services
# custom.yaml is created once by chezmoi and never overwritten
# Edit it to add your own services (Discord, Slack, Telegram, etc.)
include:
  - custom.yaml

# Default system-wide desktop notifications (auto-detected by OS)
urls:
{{- if eq .chezmoi.os "darwin" }}
  # macOS native notifications
  - macosx://:
      tag: desktop
{{- else if eq .chezmoi.os "linux" }}
  # Linux DBus notifications (works with most DEs)
  - dbus://:
      tag: desktop
{{- else if eq .chezmoi.os "windows" }}
  # Windows native notifications
  - windows://:
      tag: desktop
{{- end }}
